ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4682B4;
    width: 100%;
    position: sticky;
    top: 0;
    text-align: center;

}

li {
    border-right: 1px solid #191970;
    display: inline-block;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #191970;
}

.active {
    background-color: #0000FF;
}