body {
    background: #DCDCDC;
    margin: 0;
    padding: 0;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4682B4;
    width: 100%;
    position: sticky;
    top: 0;
    text-align: center;

}

nav li {
    display: inline-block;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #191970;
}

.active {
    background-color: #0000FF;
}
h1 {
    text-align: center;
    color: #0000FF;
    text-decoration: underline;
    font-family: Goldman-Regular;
}
h3 {
    text-align: center;
    color: #0000FF;
    font-family: Goldman-Regular;
    padding-top: 30px;
}
#etusivup {
    text-align: center;
    color: #0000FF;
    font-family: Goldman-Regular;
    padding-top: 30px;
}
#kohde {
    text-align: center;
    position: relative;
    padding-top: 10px;
    font-family: Goldman-Bold;
    font-size: larger;
    right: 180px;
    color: #0000FF;
}
#lahto{
    text-align: center;
    position: relative;
    left: 180px;
    bottom: 88px;
    font-family: Goldman-Bold;
    font-size: larger;
    color: #0000FF;
}
#paikat{
    text-align: center;
    position: relative;
    right: 180px;
    bottom: 100px;
    font-family: Goldman-Bold;
    font-size: larger;
    color: #0000FF;
}
.keskitä{
    text-align: center;
}
#hae{
    position: relative;
    font-family: Goldman-Bold;
    font-size: larger;
    width: 254px;
    height: 50px;
    left: 180px;
    bottom: 160px;
    color: white;
    background: #4682B4;
}
#navigation {
    font-family: Goldman-Regular;
}
#logo {
    width: 1536px;
    height: 200px;
    object-fit: cover;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    max-height: 200px;
}
#input1 {
    position: relative;
    display: block;
    margin : 0 auto;
    height: 20px;
    width: 250px;
    right: 180px;
    bottom: 10px;
}
#input2 {
    position: relative;
    display: block;
    margin : 0 auto;
    height: 22px;
    width: 250px;
    bottom: 98px;
    left: 180px;
}
#input3 {
    position: relative;
    display: block;
    margin : 0 auto;
    height: 22px;
    width: 250px;
    bottom: 108px;
    right: 180px;
}
#ohjeet  {
    text-align: center;
    list-style-position: inside;
}
#ohjeetvaraa{
    position: relative;
    right: 300px;
    font-size: larger;
    font-family: Goldman-Bold;
    color: #0000FF;
    padding-top: 20px;

}
#ohjeetomat{
    position: relative;
    right: 275px;
    font-size: larger;
    font-family: Goldman-Bold;
    color: #0000FF;
    padding-top: 20px;

}
#ohjeetlahdot{
    position: relative;
    right: 300px;
    font-size: larger;
    font-family: Goldman-Bold;
    color: #0000FF;
    padding-top: 20px;

}
#ohjeetkohteet{
    position: relative;
    right: 280px;
    font-size: larger;
    font-family: Goldman-Bold;
    color: #0000FF;
    padding-top: 20px;

}
.ohjeetp{
    text-align: justify;
    font-family: Goldman-Regular;
    color: #0000FF;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
#vahvista{
    position: relative;
    font-family: Goldman-Bold;
    font-size: larger;
    color: white;
    background: #4682B4;
    top: 300px;
}
#vahvista2{
    position: relative;
    font-family: Goldman-Bold;
    font-size: larger;
    color: white;
    background: #4682B4;
    right: 470px;
    top: 30px;
}
#vahvista3{
    position: relative;
    font-family: Goldman-Bold;
    font-size: larger;
    color: white;
    background: #ED2839;
    right: 470px;
    top: 30px;
}

#vahvistustekstit{
    text-align: center;
    color: #0000FF;
    font-family: Goldman-Regular;
    padding-top: 20px;
    font-size: larger;
}
#vahvistustekstiterror{
    text-align: center;
    color: #ED2839;
    font-family: Goldman-Regular;
    padding-top: 20px;
    font-size: larger;
}
#vahvistustekstit1{
    text-align: center;
    color: #0000FF;
    font-family: Goldman-Regular;
    padding-top: 20px;
    font-size: larger;
}
#vahvistustekstit4{
    position: relative;
    bottom: 41px;
    left: 430px;
}
#vahvistusteksti5{
    position: relative;
    bottom: 46px;
    left: 730px;
}
#varatutpaikat{
    position: relative;
    right: 40px;
}
@font-face {
    font-family: Goldman-Bold;
    src: url(../fonts/Goldman-Bold.ttf);
}
@font-face {
    font-family: Goldman-Regular;
    src: url(../fonts/Goldman-Regular.ttf);
}

#lennot {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20%;

    width: 80%;

}

#lennot td, #lennot th {
    border: 1px solid #ddd;
    padding: 8px;
}

#lennot tr:nth-child(even){
    background-color: lightskyblue;
}

#lennot tr:hover {
    background-color: cadetblue;
}

#lennot th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4caf50;
    color: white;
}
#äkkibutton{
    font-family: Goldman-Bold;
    font-size: larger;
    color: white;
    background: #4682B4;
    margin-left: 46%;
}
.input {
    text-align: center;
    color: #0000FF;
    font-family: Goldman-Regular;
    padding-top: 20px;
    font-size: larger;
}
.omatbuttons{
    font-family: Goldman-Bold;
    color: white;
    background: #4682B4;
}
.piilotus {
    visibility: hidden;
}
